html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav.menu {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px dashed lightpink;
    border-radius: 3px;
}

article.menu__item {
    display: flex;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}

main.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px dashed lightpink;
    border-radius: 3px;
}

section.main__content {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}

aside.main__complement {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5px;
    padding: 5px;
    border: 2px dashed lightpink;
    border-radius: 3px;
}

section.main__sub-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}

aside.main__sub-complement {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}