html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav.menu {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px dashed lightpink;
    border-radius: 3px;
}

article.menu__item {
    display: flex;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}

main.main {
    display: flex;
    height: 100%;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    border: 2px dashed lightpink;
    border-radius: 3px;
}

section.main__content {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}

aside.main__complement {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 3px;
}

@media screen and (min-width:800px){
    main.main {
        flex-direction: row;
    }

    section.main__content {
        width: 100%;
        height: auto;
    }

    aside.main__complement {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width:1000px) {
    body {
        flex-direction: row;
        width: 100%;
    }

    nav.menu {
        flex-direction: column;
    }

    article.menu__item {
        width: auto;
        height: 100%;
    }

    C'est pas fini ...
}